body, html {
    width: 100vw; height: 100vh; margin: 0; padding: 0; overflow-x: hidden;
}
.CenterTable {
    margin: 0 auto; width: 80%;
}
.NavLink {
    color: azure; text-decoration: none; margin: 5;
}
.sunNavLink:focus, .sunNavLink:hover{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    background-color: gray;
    border-radius: 30%;
    
}

.mainHeader{
    background-image: url("../images/desktop/image-header.jpg");
}

.boxLink{
    font-size: small;
    color: black;
    text-decoration: underline;
}
.boxLink-y{
    text-decoration-color: hsl(51, 100%, 49%);
}
.boxLink-r{
    text-decoration-color: hsl(7, 99%, 70%);
}

.boxP{
color: black; opacity: 70%;
}

.Col1BoxOverlay{
    background-image: url('../images/desktop/image-graphic-design.jpg'); background-size: cover;
    height: 50vh;
}
.Col2BoxOverlay{
    background-image: url('../images/desktop/image-photography.jpg'); background-size: cover;
    height: 50vh;
}

.graphicDesign{
color: hsl(167, 40%, 24%);
background-color: azure; opacity: 75%; border-top-left-radius: 30%; border-top-right-radius: 30%;
}
.photography{
  color: hsl(198, 62%, 26%);
}
.photography span{
    background-color: azure; opacity: 75%; border-top-left-radius: 30%; border-top-right-radius: 30%;
}
.footerTxt{
    color: hsl(168, 34%, 41%);
}
.disBlue{
    color: hsl(212, 27%, 19%);
}
.VDgrayishBlue{
color: hsl(213, 9%, 39%);
}
.dGrayishBlue{
 color: hsl(232, 10%, 55%);
}
.grayishBlue{
    color: hsl(210, 4%, 67%);
    font-size: small;
}
footer{
    background-color: hsl(151, 29%, 66%);
}

footer a{
    color: hsl(168, 34%, 41%);
    text-decoration: none; font-size: small;
}

.galleryPics{
    height: 25vh;
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/*uniquifier Use a unique and descriptive class name
/<weight>: Use a value from 100 to 900*/
.fraunces-medium{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.fraunces-thick{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }
  
  .barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  


